
/* Navbar Styling */
.navbar {
  position: fixed; /* Sticks to the top */
  top: 0; /* Aligns to the very top */
  left: 0;
  width: 100%; /* Full width */
  height: 60px; /* Height of the bar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #242424;
  color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Shadow */
  z-index: 1000; /* Make it on top of all elements */
}

.logo-image {
  display: flex;
  width: auto;
  height: 50px;
  margin: 0;
  padding: 10px;
}

.logo-image a { /* Target the Link element within the logo */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo_text {
  padding: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
}